


     <div class="darkPurpleFooter">
       <div class="footerDivInside">

      
        <h1 class="contactme">contact me.</h1>
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p class="copyright">© Copyright 2021 Anurag</p>
       </div>
     </div>
