body {
	text-align: center;
	background-color: #F7F7F7;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input:checked+p {
	text-decoration: line-through;
	text-decoration-color: #53516d;
}

form {
	margin-bottom: -1;
}

/*classes*/

.newListItem {
	color: #4D4545;

}

.h1div {
	background-color: #53516d;
	padding-top: 10px;
	margin: 3rem 3rem 3rem;
	width: 90vw;;
	height: 60px;
	border-radius: 4px;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}


.hopOn, .copyright, .footer-link, .contactme, h2 {
	color: white;
}

.social-icon {
	color: white;
	margin: 10px 10px 10px;
}

.text {
	width: 30%;
	position: absolute;
	left: 68%;
	top: 15%;
	visibility: hidden;
}

.addInput {
	border-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	width: 90vw;
	height: 60px;
	margin: auto auto auto;
	border-radius: 3px 3px 0 0;

}

.addButton {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 90px;
	font-size: 1rem;
	background-color: #53516d;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	
}
.createButton {
	border-radius: 30px !important;
	height: 50px;
	width: 80px;
	position: absolute;
	right: 5px;
	font-size: 1rem;
	background-color: #53516d;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;

}
.addButton:hover {
    background-color: #353345 !important;
    box-shadow: 0px 10px 15px #353345;
    color: #fff;
    transform: translateY(-4px);
  }
.createButton:hover {
    background-color: #353345 !important;
    box-shadow: 0px 10px 15px #353345;
    color: #fff;
    transform: translateY(-4px);
  }


.singlelabel {
	border-color: white;
	padding-top: 16;
	max-width: 90vw;;
	height: auto;
	margin: auto auto auto;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	border-radius: 0 0 3px 3px;
	margin-bottom: -2.2px;
	
	
}
.inputForm {
	height: 60px;
	position: relative;
}

.footerButtons {
	width: 150px;
	margin: 5px 5px 5px;
}
.divForToDos {
	z-index: 10;
}

.divForButtons {
	width: 40rem;
}

.upperdiv {
	background-color: #53516d;
	width: 80vw;
	height: 80vw;
	border-radius: 50%;
	
	position: relative;
	top: 5rem;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.darkPurpleFooter {
	background-color: #53516d;
	width: 60vw;
	height: 60vw;
	border-radius: 50%;
	position: relative;
	top: 10rem;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
h1 {
	color: #53516d;
	font-weight: 300;
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
	/* For tablets: */
	.addInput {
		width: 90vw;
	}
	.singlelabel {
		max-width: 90vw;;
	}
	.h1div {
		width: 90vw;
	}
    
	.divForButtons {
		max-width:30vw;
	}
	
	.upperdiv {
		width: 60vw;
		height: 60vw;
		padding: 300px;
		
	}

	.darkPurpleFooter {
		width: 40vw;
		height: 40vw;
		
	}
  
  }

  
  @media only screen and (min-width: 900px) {
	/* For tablets: */

	.addInput {
		width: 50vw;
	}
	.singlelabel {
		max-width: 50vw;;
	}
	.h1div {
		width: 50vw;
	}
	
	h1 {
		color: #9a6ddc;
		font-weight: 500;
	  font-size: 2rem;
	}

	.divForButtons {
		max-width:60vw;
		
	}
	
	.upperdiv {
		width: 50vw;
		height: 50vw;
		position: absolute;
		top: 10rem;
		left: -10rem;
		
	}
	
	.darkPurpleFooter {
		position: absolute;
		top: 45rem;
		right: -5rem;
		
	}

  }
  @media only screen and (min-width: 1250px) {
	h1 {
		color: #9a6ddc;
		font-weight: 700;
	  font-size: 3rem;
	}
	.addInput {
		width: 40vw;
	}
	.singlelabel {
		max-width: 40vw;;
	}
	.h1div {
		width: 40vw;
	}
	
  }
  
  @media only screen and (min-width: 1520px) {
	/* For desktop: */
	.text {
		visibility: visible;
	}
	.addInput {
		width: 30vw;
	}
	.singlelabel {
		max-width: 30vw;;
	}
	.h1div {
		width: 30vw;
	}

	h1 {
		color: #53516d;
		font-weight: 900;
	  font-size: 5rem;
	}

	.divForButtons {
		max-width:30vw;
		z-index: 100;
		
	}
	
	.upperdiv {
		width: 60vw;
		height: 60vw;
		position: absolute;
		top: 5rem;
		left: -15rem;
	}

	.darkPurpleFooter {
		position: absolute;
		top: 45rem;
		right: -3rem;
	}

  }
 







